<div class="nav nav-small"><img src="images/banner-back.png" class="bg">
    <div class="nav-logo">
        <div class="nav-logo-icon">
            <a href="index.html"><img src="./images/logo.png" alt="恒和口腔-logo" title="恒和口腔"></a>
        </div>
        <div class="nav-logo-search">
            <input placeholder="搜索内容">
            <div class="search-icon"><i class="fa fa-search"></i></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="nav-menu"><img src="images/banner-small.png">
        <ul class="nav-menu-row">
            <li class="nav-menu-item"><a href="index.html">首页</a></li>
            <li class="nav-menu-item"><a href="oral-advice.html">口腔咨询</a></li>
            <li class="nav-menu-item"><a href="business-exchange.html">行业交流</a></li>
            <li class="nav-menu-item"><a href="product-description.html">产品介绍</a></li>
            <li class="nav-menu-item"><a href="oral-leading.html">口腔前沿</a></li>
            <li class="nav-menu-item"><a href="about.html">关于我们</a></li>
            <li class="nav-menu-item"><a href="contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
