<% include src/modules/head %>
<% include src/modules/header %>

<div class="about-content">
    <div class="about-time">
        <div class="about-time-each first time-left">
            <div class="time-box">
                <div class="title">事件</div>
                <p>2015-04-10</p>
            </div>
            <p>的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个</p>
        </div>
        <div class="about-time-each second time-right">
            <div class="time-box">
                <div class="title">事件</div>
                <p>2015-04-10</p>
            </div>
            <p>的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个</p>
        </div>
        <div class="about-time-each third time-left">
            <div class="time-box">
                <div class="title">事件</div>
                <p>2015-04-10</p>
            </div>
            <p>的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个</p>
        </div>
        <div class="about-time-each fourth time-right">
            <div class="time-box">
                <div class="title">事件</div>
                <p>2015-04-10</p>
            </div>
            <p>的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个</p>
        </div>
        <div class="about-time-each fifth time-left">
            <div class="time-box">
                <div class="title">事件</div>
                <p>2015-04-10</p>
            </div>
            <p>的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个</p>
        </div>
    </div>
    <div class="about-us"><img src="images/back-2.png" class="about-us-bg">
        <div class="about-us-content">
            <p>的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个的</p>
            <div class="about-us-content-right">
                <div class="title">关于我们
                    <br>about us</div>
                <div class="clear-fix"></div>
                <div class="img"><img src="images/exchange-1.jpg"></div>
            </div>
        </div>
    </div>
    <div class="about-strength">
        <div class="about-strength-title">
            <div class="title-big">我们的实力</div>
            <div class="title-small">our strength</div>
        </div>
        <div class="about-strength-eachs">
            <div class="about-strength-each">
                <div class="about-strength-each-img"><img src="images/exchange-1.jpg"></div>
                <h3>标题</h3>
                <p>官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个</p>
            </div>
            <div class="about-strength-each">
                <div class="about-strength-each-img"><img src="images/exchange-1.jpg"></div>
                <h3>标题</h3>
                <p>官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个</p>
            </div>
            <div class="about-strength-each">
                <div class="about-strength-each-img"><img src="images/exchange-1.jpg"></div>
                <h3>标题</h3>
                <p>官大概大股东是个的技术规范的身高大概大概的风格的三个地方各地方梵蒂冈地方官大概大股东是个</p>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>


<% include src/modules/foot %>
<% include src/modules/footer %>