<% include src/modules/head %>
<% include src/modules/header %>

<div class="exchange-content">
    <div class="exchange-each">
        <div class="each-img-box"><img src="images/exchange-1.jpg"></div>
        <div class="each-day">02
            <br>May</div>
        <div class="title">实打实大苏打实打实</div>
        <p>整个脚本标签（在它之下一切都缩进）是要经过原料通过而毋须进一步解析。玉不HTML模板而不是HTML模板嵌套模板的JavaScript</p>
    </div>
    <div class="exchange-each">
        <div class="each-img-box"><img src="images/exchange-2.jpg"></div>
        <div class="each-day">02
            <br>May</div>
        <div class="title">实打实大苏打实打实</div>
        <p>整个脚本标签（在它之下一切都缩进）是要经过原料通过而毋须进一步解析。玉不HTML模板而不是HTML模板嵌套模板的JavaScript</p>
    </div>
    <div class="exchange-each">
        <div class="each-img-box"><img src="images/exchange-3.jpg"></div>
        <div class="each-day">02
            <br>May</div>
        <div class="title">实打实大苏打实打实</div>
        <p>整个脚本标签（在它之下一切都缩进）是要经过原料通过而毋须进一步解析。玉不HTML模板而不是HTML模板嵌套模板的JavaScript</p>
    </div>
    <div class="exchange-each">
        <div class="each-img-box"><img src="images/exchange-4.jpg"></div>
        <div class="each-day">02
            <br>May</div>
        <div class="title">实打实大苏打实打实</div>
        <p>整个脚本标签（在它之下一切都缩进）是要经过原料通过而毋须进一步解析。玉不HTML模板而不是HTML模板嵌套模板的JavaScript</p>
    </div>
    <div class="exchange-each">
        <div class="each-img-box"><img src="images/exchange-5.jpg"></div>
        <div class="each-day">02
            <br>May</div>
        <div class="title">实打实大苏打实打实</div>
        <p>整个脚本标签（在它之下一切都缩进）是要经过原料通过而毋须进一步解析。玉不HTML模板而不是HTML模板嵌套模板的JavaScript</p>
    </div>
    <div class="exchange-each">
        <div class="each-img-box"><img src="images/exchange-6.jpg"></div>
        <div class="each-day">02
            <br>May</div>
        <div class="title">实打实大苏打实打实</div>
        <p>整个脚本标签（在它之下一切都缩进）是要经过原料通过而毋须进一步解析。玉不HTML模板而不是HTML模板嵌套模板的JavaScript</p>
    </div>
    <div class="clear-fix"></div>
</div>
<div class="exchange-btn-next">翻页</div>


<% include src/modules/foot %>
<% include src/modules/footer %>