<% include src/modules/head %>
<% include src/modules/header %>

<div class="contact">
    <div class="contact-content">
        <div class="contact-content-name">留言板</div>
        <form>
            <div class="contact-input">
                <div class="title">
                    <label for="name">姓名:</label>
                </div>
                <input id="name" placeholder="姓名">
            </div>
            <div class="contact-input">
                <div class="title">
                    <label for="email">邮箱:</label>
                </div>
                <input id="email" placeholder="邮箱">
            </div>
            <div class="contact-input">
                <div class="title">
                    <label for="content">留言</label>
                </div>
                <textarea id="content" row="3"></textarea>
            </div>
            <div class="contact-btn-submit">提交</div>
        </form>
        <div class="contact-content-map"><img src="images/map.png"></div>
    </div>
    <div class="contact-address">
        <div class="contact-address-each">
            <div class="title">联系地址</div>
            <div class="img"></div>
            <div class="address">浙江省嘉兴市南湖区</div>
        </div>
        <div class="contact-address-each">
            <div class="title">联系地址</div>
            <div class="img"></div>
            <div class="address">浙江省嘉兴市南湖区</div>
        </div>
        <div class="clear-fix"></div>
    </div>
</div>


<% include src/modules/foot %>
<% include src/modules/footer %>