<% include src/modules/head %>
<% include src/modules/header %>


<div class="index-content">
    <div class="index-content-three">
        <div class="each-block">
            <div class="title">东软医疗推出新产品</div>
            <div class="content"> 那一年，腾讯刚上市，与现在相比，算不上是一家很大的公司。费岸记得，他面试的时候，腾讯只有员工1600人。“我最初在腾讯研发部门工作，做一些有用户但是不赚钱的项目，如邮箱、下载软件、视频软件等工具类产品，虽然不盈利，但累积用户口碑。”</div>
        </div>
        <div class="each-block">
            <div class="title">东软医疗推出新产品</div>
            <div class="content"> 那一年，腾讯刚上市，与现在相比，算不上是一家很大的公司。费岸记得，他面试的时候，腾讯只有员工1600人。“我最初在腾讯研发部门工作，做一些有用户但是不赚钱的项目，如邮箱、下载软件、视频软件等工具类产品，虽然不盈利，但累积用户口碑。”</div>
        </div>
        <div class="each-block">
            <div class="title">东软医疗推出新产品</div>
            <div class="content"> 那一年，腾讯刚上市，与现在相比，算不上是一家很大的公司。费岸记得，他面试的时候，腾讯只有员工1600人。“我最初在腾讯研发部门工作，做一些有用户但是不赚钱的项目，如邮箱、下载软件、视频软件等工具类产品，虽然不盈利，但累积用户口碑。”</div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="index-about"><img src="images/back-1.png" class="bg">
        <div class="test-t">关于我们</div>
        <div class="index-about-btn-more">更多</div>
    </div>
    <div class="index-four">
        <div class="each-block"><img src="images/index-img-1.jpg"></div>
        <div class="each-block"> <img src="images/index-img-2.jpg"></div>
        <div class="each-block"> <img src="images/index-img-3.jpg"></div>
        <div class="each-block"> <img src="images/index-img-4.jpg"></div>
    </div>
    <div class="index-oral-advice"> <img src="images/back-3.png" class="bg">
        <div class="title-left">ORAL
            <br>INFORMATION</div>
        <div class="title-right">口腔咨询</div>
    </div>
    <div class="index-six">
        <div class="each-block">1</div>
        <div class="each-block">1</div>
        <div class="each-block">1</div>
        <div class="each-block">1</div>
        <div class="each-block">1</div>
        <div class="each-block">1</div>
        <div class="clear-fix"></div>
    </div>
    <div class="index-more">
        <div class="index-about-btn-more">更多</div>
    </div>
</div>
<div class="index-links">
    <div class="test-t black">友情链接</div>
</div>




<% include src/modules/foot %>
<% include src/modules/footer %>