<% include src/modules/head %>
<% include src/modules/header %>

<div class="pd-content">
    <div class="pd-block">
        <div class="pd-block-title"><span>类型</span>
            <div class="pd-block-title-btn">按钮</div>
        </div>
        <div class="pd-block-eachs">
            <div class="pd-block-each">
                <div class="pd-detail-img"><img src="images/exchange-1.jpg"></div>
                <div class="pd-detail-text">
                    <h4>T450s</h4>
                    <h5>tt</h5>
                    <p>ds</p>
                </div>
                <div class="btn-more">按钮</div>
            </div>
            <div class="pd-block-each">
                <div class="pd-detail-img"><img src="images/exchange-2.jpg"></div>
                <div class="pd-detail-text">
                    <h4>T450s</h4>
                    <h5>tt</h5>
                    <p>ds</p>
                </div>
                <div class="btn-more">按钮</div>
            </div>
            <div class="pd-block-each">
                <div class="pd-detail-img"><img src="images/exchange-3.jpg"></div>
                <div class="pd-detail-text">
                    <h4>T450s</h4>
                    <h5>tt</h5>
                    <p>ds</p>
                </div>
                <div class="btn-more">按钮</div>
            </div>
            <div class="pd-block-each">
                <div class="pd-detail-img"><img src="images/exchange-4.jpg"></div>
                <div class="pd-detail-text">
                    <h4>T450s</h4>
                    <h5>tt</h5>
                    <p>ds</p>
                </div>
                <div class="btn-more">按钮</div>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
    <div class="pd-block">
        <div class="pd-block-title"><span>类型</span>
            <div class="pd-block-title-btn">按钮</div>
        </div>
        <div class="pd-block-eachs">
            <div class="pd-block-each">
                <div class="pd-detail-img"><img src="images/exchange-1.jpg"></div>
                <div class="pd-detail-text">
                    <h4>T450s</h4>
                    <h5>tt</h5>
                    <p>ds</p>
                </div>
                <div class="btn-more">按钮</div>
            </div>
            <div class="pd-block-each">
                <div class="pd-detail-img"><img src="images/exchange-2.jpg"></div>
                <div class="pd-detail-text">
                    <h4>T450s</h4>
                    <h5>tt</h5>
                    <p>ds</p>
                </div>
                <div class="btn-more">按钮</div>
            </div>
            <div class="pd-block-each">
                <div class="pd-detail-img"><img src="images/exchange-3.jpg"></div>
                <div class="pd-detail-text">
                    <h4>T450s</h4>
                    <h5>tt</h5>
                    <p>ds</p>
                </div>
                <div class="btn-more">按钮</div>
            </div>
            <div class="pd-block-each">
                <div class="pd-detail-img"><img src="images/exchange-4.jpg"></div>
                <div class="pd-detail-text">
                    <h4>T450s</h4>
                    <h5>tt</h5>
                    <p>ds</p>
                </div>
                <div class="btn-more">按钮</div>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>


<% include src/modules/foot %>
<% include src/modules/footer %>